In [ ]:
!ls node_modules/d3/dist/ds

In [ ]:
!ls node_modules/d3/dist/

In [ ]:
!ls node_modules/d3/dist/d3.js

In [ ]:
%%javascript
require.config({
    paths: {
        d3: 'node_modules/d3/dist/d3.js'
    }
});

In [1]:
%%javascript
require.config({
    paths: {
        d3: 'node_modules/d3/dist/d3.js'
    }
});

(function(element) {
    require(['d3'], function(d3) {   
        var data = [1, 2, 4, 8, 16, 8, 4, 2, 1]

        var svg = d3.select(element.get(0)).append('svg')
            .attr('width', 400)
            .attr('height', 200);
        svg.selectAll('circle')
            .data(data)
            .enter()
            .append('circle')
            .attr("cx", function(d, i) {return 40 * (i + 1);})
            .attr("cy", function(d, i) {return 100 + 30 * (i % 3 - 1);})
            .style("fill", "#1570a4")
            .transition().duration(2000)
            .attr("r", function(d) {return 2*d;})
        ;
    })
})(element);

In [21]:
def hex_to_rgb(hexcode):
   rgb = tuple(map(ord,hexcode[1:].decode('hex')))
   return rgb

hexcode = #a3677e

hex_to_rgb(hexcode)

SyntaxError: invalid syntax (<ipython-input-21-b5c671e6e33f>, line 5)

In [16]:
import pandas as pd
col_list = ["Province_State","Confirmed","Deaths"]
df = pd.read_csv("use.csv", usecols=col_list)

df[col_list]

   Province_State  Confirmed  Deaths
0         Alabama      26272     774
1         Arizona      36844    1203
2        Arkansas      12917     182
3      California     155726    5114
4        Colorado      29284    1605
5         Florida      77326    2938
6         Georgia      58414    2494
7        Illinois     133016    6326
8         Indiana      40430    2433
9        Kentucky      12647     505
10       Michigan      66085    6018
11      Minnesota      30693    1335
12    Mississippi      19799     895
13       Missouri      16611     887
14           Ohio      41576    2575
15       Oklahoma       8417     359
16          Texas      90211    2001

In [ ]:
%%javascript
require.config({
    paths: {
        d3: 'https://d3js.org/d3.v5.min'
    }
});

In [2]:
%%writefile test1.html
<script>
function readURL(el) {
    if (el.files && el.files[0]) {
         var FR= new FileReader();
         FR.onload = function(e) {
              $("img").attr("src", e.target.result);
              socket.emit('image', e.target.result);
              console.log(e.target.result);
         };       
         FR.readAsDataURL( el.files[0] );
    } 
};
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<input id="file" type='file' onchange="readURL(this)"/>
<img id="img">

Writing test1.html